[Unit]
Description=Refactored Potato
Requires=network.target mysql.service
After=network.target mysql.service

[Service]
ExecStart=/usr/bin/node /home/azhang/scorescope-mock-api/server.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
Type=simple

[Install]
WantedBy=multi-user.target
